<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524370721501-k5h4up3thmeguikppeb910o1jquakn4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524370721501-k5h4up3thmeguikppeb910o1jquakn4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>524370721501-1k2v246msu7ph7gse4vhq9dvcnibr90g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8YZ6NYy6dBG4goyY_qfFEn7cxGeEAUC8</string>
	<key>GCM_SENDER_ID</key>
	<string>524370721501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vc.vibeus</string>
	<key>PROJECT_ID</key>
	<string>vibeus-f51e9</string>
	<key>STORAGE_BUCKET</key>
	<string>vibeus-f51e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524370721501:ios:427ac5f16c7a85b215b934</string>
</dict>
</plist>