<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699730625773-uobr4ptj7gk29o8cq221nvjpgvrv9307.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699730625773-uobr4ptj7gk29o8cq221nvjpgvrv9307</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699730625773-hsce7i2882rrg7sbrev2i27teo491b60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAh9ckEfm6HIn0ygxkv3QYhKF2-QbKELNo</string>
	<key>GCM_SENDER_ID</key>
	<string>699730625773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.vibeus</string>
	<key>PROJECT_ID</key>
	<string>vibeus-con-4b2c7</string>
	<key>STORAGE_BUCKET</key>
	<string>vibeus-con-4b2c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699730625773:ios:708ec765899a005d4c78e4</string>
</dict>
</plist>